* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 80px;
}

.gameBoard {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgb(206, 243, 243);
  width: 100%;
  height: 400px;
  z-index: 3;
}

.gameBopard__line {
  position: absolute;
  top: 70%;
  height: 3px;
  width: 100%;
  background-color: black;
}

.gameBoard__dino {
  position: absolute;
  left: 20%;
  bottom: 30%;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://katyusha0901.github.io/images/dino.png);
}

.gameBoard__cactus {
  display: flex;
  position: absolute;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./images/cactus.png);
  left: 90%;
  bottom: 30%;
  z-index: 1;
}

.gameBoard__bird {
  display: flex;
  position: absolute;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./images/bird.png);
  left: 90%;
  bottom: 50%;
  z-index: 1;
}

.gameBoard__leftWall {
  position: absolute;
  background-color: white;
  width: 15%;
  height: 100%;
  left: 0%;
  z-index: 2;
}

.gameBoard__rightWall {
  position: absolute;
  background-color: white;
  width: 15%;
  height: 100%;
  right: 0%;
  z-index: 2;
}

.gameStatus {
  display: none;
  position: absolute;
  justify-content: center;
  top: 30%;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: rgb(245, 37, 0);
  border: solid 10px;
  border-color: rgb(247, 211, 10);
  font-size: 50px;
  font-weight: 800;
  z-index: 5;
}

.gameBoard__score {
  position: absolute;
  bottom: 75%;
  left: 55%;
  font-size: 50px;
  text-align: center;
  font-weight: 800;
  background-color: rgb(255, 40, 3);
  border: solid 10px;
  border-color: rgb(247, 211, 10);
  padding: 10px;
}