* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 80px;
}

.gameBoard {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(206, 243, 243);
    width: 1000px;
    height: 500px;
}

.gameBopard__line {
  position: absolute;
  top: 70%;
  height: 3px;
  width: 1000px;
  background-color: black;
}

.gameBoard__dino{
  position: absolute;
  left: 100px;
  top: 50%;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/images/dino.png);
}